@use "../utils/" as u;

#map {
  height: 65vh;
  width: 100%;
}
@media (max-width: 768px) {
  #map {
    height: 90vh;
    width: 100%;
    margin-top: u.rem(120);
  }
}

.leaflet-control-attribution {
  font-size: 8px !important;
  a {
    font-size: 8px !important;
  }
}
